.title {
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.t1,.t2,.t3{
    color: #373737;
}

.t1 {
    font-size: 45px;
}

.content {
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.t2 {
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 26px;
}
.contents{
    width: 80%;
    padding: 5px 5px 5px 5px;
    font-weight: 500;
}
.t3{
    font-weight: 500;
    font-size: 18px;
}
.contents:hover{
    background-color: #efefef;
}